doctype html
html
  head
    title Login
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/smoothie.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/flashmessage.js')
  body(onLoad="document.forms.loginForm.login.focus()")
    header
      nav
        ul
    section#wrapper!= body
        footer
          section.css-table
                img(id='jquery_logo', src='/images/logos/nodejs2.png',width='70px', height='28px')
                img(id='jquery_logo', src='/images/logos/Highcharts-icon-160px.png',width='70px', height='28px')
                img(id='jquery_logo', src='/images/logos/jquery_logo.png',width='70px', height='28px')
                img(id='jquery_logo', src='/images/logos/powered-by-mongodb.png',width='70px', height='28px')
                img(id='jquery_logo', src='/images/logos/python-logo-master-v3-TM.png',width='70px', height='28px')
                img(id='jquery_logo', src='/images/logos/zeromq.png',width='70px', height='28px')
                img(id='jquery_logo', src='/images/logos/Gluster_logo.jpg',width='70px', height='28px')
                p All contents of this site, unless otherwise noted, are &copy; <strong>National Documentation Centre</strong>.  All Rights Reserved.

