/* Let's get this party started */
pre.log::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
pre.log::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
pre.log::-webkit-scrollbar-thumb {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*pre.log::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}*/
